{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Livre index</h1>
<div class="container d-flex flex-wrap grid gap-5 column-gap-3 mt-4">
        {% for livre in livres %}
        <div class="card text-bg-info " style="width: 18rem;">
                    <img src="/uploads/photos/{{ livre.couverture }}" class="card-img-top" style="height: 159px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ livre.name }}</h5>
                        <p class="card-text text-center">Prix de la location : {{ livre.prix /100 }} €</p>
                        <p class="card-text text-center">Quantité disponible : {{ livre.quantite}}</p> 
        
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary ms-5" data-bs-toggle="modal" data-bs-target="#exampleModal{{livre.id}}">
  Plus d'information
</button>
<!-- Modal -->
<div class="modal fade text-info" id="exampleModal{{livre.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{livre.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><span class='text-info-emphasis fw-bold'>Auteur :</span> {{livre.auteur}}</p>
        <p><span class='text-info-emphasis fw-bold'>Editeur :</span> {{livre.editeurs}}</p>
        <hr>
        <p><span class='text-info-emphasis fw-bold'>Resume :</span> {{livre.resume}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                    </div>
        </div>
        {% else %}
            
        <p>no records found</p>
            
        {% endfor %}

</div>
    <div class="text-center mt-4">
    <a href="{{ path('app_livre_new') }}">Create new</a>
    </div>

{% endblock %}
